
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #a9a9a9;
    color: #292929;
    padding: 0;
    margin: 5px;
}

h1, h2 {
    font-family: 'Cinzel Decorative';
    text-align: center;
    font-size: 60px;
}

p {
    font-size: 24px;
    
}

header {
    margin: 0;
    padding: 0;
    background-color: #54D454;
}

nav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 10px;
   
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    background-color: #29e929;
    
    font-size: 30px;
}

nav li {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
}

nav a {
    text-decoration: none;
    color: inherit;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
    
    padding: 20px;
    
    
}

.title h1 {
    flex-grow: 1; 
    text-align: center; 
    
    text-shadow: 0 0 9px;
}

.title img {
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 60px;
}

.content {
    display: flex; /* Flexbox layout */
    justify-content: space-between; /* Creates space between columns */
    gap: 20px; /* Adds space between the columns */
    padding: 20px; /* Adds padding around the section */
    background-color: #54D454;
    margin-top: 10px;
}

.welcome {
    flex-basis: 66.66%; /* 2/3 width */
    background-color: #29e929;
    padding: 10px;
}

.photos {
    flex-basis: 33.33%; /* 1/3 width */
    background-color: #29e929;
    padding: 10px;
}

.photos img {
    width: 100%; /* Make sure images scale within the column */
    max-width: 200px;
    height: auto;
}

/* Flexbox to center the grid in the column */
.grid-container {
    display: flex;
    justify-content: center; /* Horizontally center */
  }
  
  /* CSS Grid for 2x2 image layout */
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    
  }
  
  
  